<a href="https://colab.research.google.com/github/chiragsable/FES-Research-Work/blob/main/Hate_Speech_FES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hate Speech Jupyter Notebook

*Author: Chirag Sable*

This notebook explores the Ethos Hatespeech Dataset

In [1]:
import pandas as pd

#Libraries

In [2]:
raw = "https://raw.githubusercontent.com/intelligence-csd-auth-gr/Ethos-Hate-Speech-Dataset/master/ethos/ethos_data/Ethos_Dataset_Multi_Label.csv"

#The dataset URL

In [3]:
df2 = pd.read_csv(raw, sep=';')

In [4]:
df2.head(10)

                                             comment  ...  sexual_orientation
0          You should know women's sports are a joke  ...            0.000000
1    You look like Sloth with deeper Down’s syndrome  ...            0.000000
2  You look like Russian and speak like Indian. B...  ...            0.000000
3               Women deserve to be abused, I guess.  ...            0.000000
4  Women are made for making babies and cooking d...  ...            0.000000
5      why haven't you faggots taken the bi-pill yet  ...            1.000000
6  Why don’t you go beck your god to murder you? ...  ...            0.000000
7  why does that african american monkey hold gun...  ...            0.000000
8  Why does Bulgaria exist as a country? It's one...  ...            0.571429
9  Why do negroes tear down their own neighborhoo...  ...            0.000000

[10 rows x 9 columns]

In [5]:
df2.info()

#This dataframe has 9 columns and 433 rows.
#Column 1 - Comment 
#Column 2 - Violence (1/0)
#Column 3 - Directed vs Generalized (if directed to a person - 1, or a group - 0)
#Column 4 - Gender
#Column 5 - Race
#Column 6 - National Origin
#Column 7 - Disability
#Column 8 - Religion
#Column 9 - Sexual Orientation

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 433 entries, 0 to 432
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   comment                  433 non-null    object
 1   violence                 433 non-null    float64
 2   directed_vs_generalized  433 non-null    float64
 3   gender                   433 non-null    float64
 4   race                     433 non-null    float64
 5   national_origin          433 non-null    float64
 6   disability               433 non-null    float64
 7   religion                 433 non-null    float64
 8   sexual_orientation       433 non-null    float64
dtypes: float64(8), object(1)
memory usage: 30.6+ KB

In [6]:
df2.describe()

#Generates descriptive statistics

         violence  directed_vs_generalized  ...    religion  sexual_orientation
count  433.000000               433.000000  ...  433.000000          433.000000
mean     0.328609                 0.302132  ...    0.170243            0.151904
std      0.376280                 0.359259  ...    0.339240            0.320386
min      0.000000                 0.000000  ...    0.000000            0.000000
25%      0.000000                 0.000000  ...    0.000000            0.000000
50%      0.166667                 0.166667  ...    0.000000            0.000000
75%      0.666667                 0.600000  ...    0.000000            0.000000
max      1.000000                 1.000000  ...    1.000000            1.000000

[8 rows x 8 columns]

In [7]:
df2.violence.value_counts()

#It returns counts of unique values for the specified series

0.000000    185
1.000000     56
0.166667     23
0.333333     22
0.833333     21
0.666667     21
0.200000     20
0.250000     18
0.500000     13
0.800000     13
0.400000     11
0.750000      8
0.600000      6
0.142857      1
0.022222      1
0.131579      1
0.076923      1
0.090909      1
0.952381      1
0.127660      1
0.723404      1
0.033333      1
0.019231      1
0.034483      1
0.027397      1
0.044444      1
0.066667      1
0.920000      1
0.807692      1
Name: violence, dtype: int64

In [8]:
df2.directed_vs_generalized.value_counts()

#It returns counts of unique values for the specified series

0.000000    194
1.000000     43
0.166667     26
0.333333     22
0.500000     21
0.200000     20
0.666667     16
0.250000     16
0.750000     15
0.833333     15
0.800000     15
0.400000      9
0.600000      5
0.552632      1
0.933333      1
0.051282      1
0.043478      1
0.909091      1
0.034483      1
0.702128      1
0.063830      1
0.019231      1
0.047619      1
0.835616      1
0.022222      1
0.116667      1
0.032787      1
0.160000      1
0.115385      1
Name: directed_vs_generalized, dtype: int64

In [9]:
df_sample = df2.sample(frac=0.5)

In [10]:
df_sample.reset_index(drop=True).head(10)

                                             comment  ...  sexual_orientation
0  Why does Bulgaria exist as a country? It's one...  ...            0.571429
1  This is considered WHITE in Sweden. No wonder ...  ...            0.000000
2                           fucking slut deserved it  ...            0.000000
3  Even when at the income advantage, niggers sti...  ...            0.000000
4  This Korean bitch is like a pig. That’s how th...  ...            0.000000
5  The PORN INDUSTRY IS A BILLION DOLLAR INDUSTRY...  ...            0.000000
6  These women aren't autistic, they are smart, a...  ...            0.000000
7                      Slow death to people like you  ...            0.000000
8  Native Americans are a fucking joke. They did ...  ...            0.000000
9  This homo faggot Spike Lee wore this at the Fl...  ...            1.000000

[10 rows x 9 columns]

Let's write this data exerpt into a CSV file:<br>
1. Use the pandas method to_csv() to extract the file.<br>
2. Let us name the file as Ethos_Data_Exerpt.csv<br>
3. The file will be stored in the files directory of Google Colab.<br>
4. To download it locally, head into the files directory and select Download.

In [11]:
df_sample.to_csv('Ethos_Data_Exerpt.csv', index=False)